openapi: 3.0.0
info:
  title: EcoMarket API
  description: API profesional para la conexión entre productores y consumidores.
  version: 1.2.0

servers:
  - url: https://api.ecomarket.com/v1

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Categoria:
      type: string
      enum: [frutas, verduras, lacteos, miel, conservas]
      example: verduras

    Producto:
      type: object
      required: [nombre, precio, categoria, productor_id]
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        nombre:
          type: string
          example: "Miel de Abeja Orgánica"
        descripcion:
          type: string
          example: "Miel pura de flores silvestres."
        precio:
          type: number
          format: float
          minimum: 0
          multipleOf: 0.01
          example: 12.50
        categoria:
          $ref: '#/components/schemas/Categoria'
        productor_id:
          type: integer
          example: 5
        disponible:
          type: boolean
          default: true
        creado_en:
          type: string
          format: date-time
          readOnly: true

    Productor:
      type: object
      required: [nombre, region]
      properties:
        id:
          type: integer
          readOnly: true
        nombre:
          type: string
          example: "Granja El Sol"
        region:
          type: string
          example: "Andes"
        contacto:
          type: string
          example: "contacto@elsol.com"

    Pedido:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        cliente_id:
          type: integer
        estado:
          type: string
          enum: [pendiente, enviado, entregado, cancelado]
          default: pendiente
        items:
          type: array
          items:
            $ref: '#/components/schemas/ItemPedido'
        total:
          type: number
          readOnly: true

    ItemPedido:
      type: object
      properties:
        producto_id:
          type: integer
        cantidad:
          type: integer
          minimum: 1

    ProductosPaginados:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/Producto'

    Error:
      type: object
      properties:
        codigo:
          type: string
        mensaje:
          type: string

  responses:
    BadRequest:
      description: Error en los datos enviados.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: El recurso solicitado no existe.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Conflicto con el estado actual del servidor.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

paths:
  /productos:
    get:
      summary: Listar productos con búsqueda y paginación
      parameters:
        - name: nombre
          in: query
          description: Buscar productos por coincidencia de nombre
          schema:
            type: string
        - name: categoria
          in: query
          schema:
            $ref: '#/components/schemas/Categoria'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Lista de productos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductosPaginados'

    post:
      summary: Crear un nuevo producto
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Producto'
      responses:
        '201':
          description: Producto creado
        '400':
          $ref: '#/components/responses/BadRequest'

  /productos/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      summary: Obtener detalle de un producto
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Producto'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Actualización parcial (Ej. solo precio)
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                precio:
                  type: number
                disponible:
                  type: boolean
      responses:
        '200':
          description: Producto actualizado
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Eliminar un producto
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Eliminado exitosamente

  /productores:
    get:
      summary: Listar productores
      responses:
        '200':
          description: Lista de productores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Productor'
    post:
      summary: Registrar nuevo productor
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Productor'
      responses:
        '201':
          description: Productor registrado

  /productores/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    delete:
      summary: Eliminar productor (verifica dependencias)
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Eliminado
        '409':
          $ref: '#/components/responses/Conflict'
          description: No se puede eliminar si tiene productos activos.

  /productores/{id}/productos:
    get:
      summary: Obtener productos de un productor específico
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Lista de productos del productor
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Producto'

  /pedidos:
    post:
      summary: Crear un nuevo pedido
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pedido'
      responses:
        '201':
          description: Pedido creado con éxito

  /pedidos/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    patch:
      summary: Cambiar estado del pedido
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                estado:
                  type: string
                  enum: [enviado, entregado, cancelado]
      responses:
        '200':
          description: Estado actualizado